@*@{
        ViewBag.Title = "GetLocations";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>GetLocations</h2>*@

@*@{
        ViewBag.Title = "GetLocations";
    }

    <h2>GetLocations</h2>*@


@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetLocations</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
